h2
{
  font-family: sans-serif;

  font-size: 16px;
  font-weight: normal;
  color: white;
}

.container
{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;

  max-width: 960px;
  margin: 0 auto;
}

header
{
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1em;

  margin: 1em;
  height: 50px;
}

#logo
{
  grid-column: 1 / 2;
  max-width: 100%;
}

nav
{
  grid-column: -2 / -1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

nav h2
{
  text-align: center;
  margin: 0;
}

#carousel
{
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: -1;

  position: relative;
}

#carousel .tray
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#carousel .tray img
{
  width: 100%;
  margin: auto;
}


#carousel > img
{
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
}

#resources
{
  grid-column-end: span 4;
}

#social
{
  grid-column-end: span 4;
}

#donate
{
  grid-column-end: span 4;
}

article
{
  grid-column: span 3;
}

@media only screen and (max-width: 800px) {
  #resources
  {
    grid-column-end: span 6;
  }

  #social
  {
    grid-column-end: span 6;
  }

  #donate
  {
    grid-column-end: span 12;
  }

  article
  {
    grid-column: span 6;
  }
}

@media only screen and (max-width: 600px) {

  header
  {
      grid-template-columns: 2fr 1fr;
  }

  nav
  {
    display: none;
  }

  #resources
  {
    grid-column-end: span 12;
  }

  #social
  {
    grid-column-end: span 12;
  }

  #donate
  {
    grid-column-end: span 12;
  }

  article
  {
    grid-column: span 12;
  }
}

#top-article
{
  grid-column-end: span 12;
}

footer
{
  grid-column-end: span 12;
}